.main-banner .container {
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header .container {
  background-color: blue;
  color: white;
}

h1 {
  background-color: white;
}

h4 {
  background-color: blue;
  color: white;
  font-weight: bold;
}
