html {
  font-size: 18px;
  font-family: helvetica, sans-serif;
}


header {
  background-image: url(../glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-resolution: from-image;
  padding-top: 1rem;
  height: 30rem;
}

.phone-menu {
  display: none;
}

.container {
  max-width: 960px;
  margin: auto;
}

nav {
  padding: 1rem 0;
  background-color: #5ca1a5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

li {
  display: inline;
  padding: 0 1rem;
}

img {
  border-style: none;
}


.motto.container {
  background-color: white;
  padding: 0.75rem 5rem;
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  line-height: 2.4rem;
}

header .flexbox {
  justify-content: flex-end;
}

h1 {
  background-color: white;
  display: block;
  text-align: right;
}

h4 {
  background-color: #5ca1a5;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  max-width: 10rem;
}

.info {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.info p {
  padding: 1rem 0;
}

.flexbox {
  display: flex;
}

.supporting {
  display: flex;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3rem;
  width: 5rem;
  height: 8rem;

}

.service img {
  width: 3.5rem;
}

body {
  line-height: 1.4rem;

}



footer {
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
}

footer img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

div {
  display: block;
}

@media only screen and (max-width: 560px){

.main-banner h1 {
    font-size: 1rem;}

.main-banner {
width: 100%;
padding: 0 1rem;
margin: 9rem auto 0 auto;
text-align: center;
}
}

@media only screen and (max-width: 700px){
.menu ul.phone-menu {
    display: block;
}
.menu ul {
    display: none;
}
}

@media only screen and (max-width: 1024px){
header {
    height: 22rem;
    padding-top: 0;
}

nav.container {
    max-width: 100%;
}

}
